version: '3.8'
services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - ADZUNA_APP_ID=${ADZUNA_APP_ID}
      - ADZUNA_API_KEY=${ADZUNA_API_KEY}
    volumes:
      - .:/app
